.formpopup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formcontainer{
    color: #808080;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 30px;
    border-radius: 8px;
    font-size: 16px;
}
.formtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
.fHead{
    font-size: 50px;
}
.closeicon{
    height: 40px;
    width: 40px;
}
.forminput{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forminput input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.formcontainer button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #ffff;
    background-color: #f06625;
    font-size: 15px;
    cursor: pointer;
}
.formcondition{
    display: flex;
    align-items: start;
    gap: 8px;
}
.formcondition p span{
    color: #f06625;
}
@media screen and (max-width:426px){
    .formpopup{
        height: 100vh;
        width: 100vw;
    }
}