.cartBox{
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartHead{
    font-size: 90px;
}
.spancartHead{
    color: #f06625;
}
table, th, td{
    border-top: 4px solid #f06625;
    border-right-color: #ffff;
    border-left-color: #ffff;
}
table{
    width: 90%;
    border-collapse: collapse;
}
th{
    height: 64px;
    color: #f06625;
}
td{
    height: 56px;
    cursor: pointer;
    text-align: center;
    border-bottom: 4px solid #f06625;
}
.itemRemoveBtn{
    padding: 8px;
    background-color: #dc3545;
    border: 2px solid #dc3848;
    border-radius: 4px;
    color: #ffff;
}
.cartBottom{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
}
.cartTotalDetailBox{
    display: flex;
    width: 100%;
    height: 24px;
    border-bottom: 4px solid #f06625;
}
.ctitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.camt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.placeorderbutton{
    width: 100%;
}
.placeorderbtn{
    height: 40px;
    width: 100%;
    background-color: #ffe4c4;
    outline: none;
    border: 3px solid #f06625;
    border-radius: 8px;
}
.placeorderbtn:hover{
    background-color: #f06625;
    color: #ffff;
}
@media screen and (max-width:426px) {
    .cartHead{
        font-size: 48px;
    }
}